<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
    <property>
        <name>fs.defaultFS</name>
        <value>hdfs://{{ nameservice_id }}</value>
    </property>
    <property>
        <name>hadoop.tmp.dir</name>
        <value>{{ hadoop_install_dir }}/tmp</value>
    </property>
    <property>
        <name>ha.zookeeper.quorum</name>
        <value>{{ zookeeper_quorum }}</value>
    </property>
</configuration>
