<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
    <property>
        <name>dfs.replication</name>
        <value>{{ dfs_replication }}</value>
    </property>
    <property>
        <name>dfs.namenode.name.dir</name>
        <value>file://{{ hadoop_install_dir }}/hdfs/namenode</value>
    </property>
    <property>
        <name>dfs.namenode.http-address</name>
        <value>0.0.0.0:{{ dfs_namenode_http_port }}</value>
    </property>
    <property>
        <name>dfs.namenode.rpc-address</name>
        <value>0.0.0.0:{{ dfs_namenode_rpc_port }}</value>
    </property>
</configuration>
